*{
    margin: 0;
    padding: 0;
}

.navbar-style{
    box-shadow: 0 3px 0px red;
    text-transform: uppercase;
}
.navbar-header img{
    height: 60px;
    padding: 5px 3px;

}
.icon-bar{
    background: orange;
}
li a{
    color: blue;
}
.big-text{
    font-size: 52px;
    margin: 20px 0px;
    color: darkorange;
}
a .btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
}
a.btn-first{
    background: orchid;
    color: white;
}
a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: deeppink;
}
a.btn:hover{
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px red;
    transition: 0.4s;
}
.banner-info .banner-image{
   margin: 30px 0 ;
}
.service-heading{
    margin-top: 20px;
    padding-left: 20px;  
}